{% extends "layout.html" %}

{% block title %}
    Deep book sea
{% endblock %}

{% block body %}
    <h1 style="color:aqua;">Register to the sea of imagination!</h1>

    <form action = "{{ url_for('registration') }}" method ="POST">
        <div class ="form-group">
            <input class ="form-control" name="name" placeholder="username">
            <input class ="form-control" type="password" name="password" placeholder="password">
            <!-- add other options for registration later on...-->
        </div>   
        <div class = "form-group">
            <button class="btn btn-primary">Submit Registration</button>
        </div>

    </form>
{% endblock %}